/* GoOffline Ads */
.index__gooffline {
    width: 300px;
    margin: 1.4em 10px 15px 10px
}

/*
.index__map {
    margin: 10px 15px;
    font-size: 16px
}

.index__map .map__head {
    padding: 20px 0
}

.index__map .map__h {
    font-size: 1em;
    font-weight: 400;
    text-align: center
}

.index__map .map__h-val {
    font-size: 1.25em
}

.index__map .map__body {
    width: 100%;
    height: 50vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 2px
}
*/

/* .index__map replace to .result__stats */
.result__stats {
    margin: 10px 15px;
    font-size: 16px
}

.result__stats .stats__head {
    padding: 15px 0
}

.result__stats .stats__h {
    font-size: 1em;
    font-weight: 400;
    text-align: center
}

.result__stats .stats__h-val {
    font-size: 1.25em
}

.result__stats .map__body {
    width: 100%;
    height: 50vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 2px
}

/* map marker */
.gm-iw a {
    color: #00f
}

.gm-iw-t {
    margin-top: 5px;
    margin-bottom: 10px
}

.gm-iw-c {
    margin-top: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc
}